*{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}
body{
    background-color:  hsl(47, 88%, 63%);
}
main{
    display: flex;
    justify-content:space-around; 
}
.main{
    background-color: hsl(0, 0%, 100%) ;
    width: 380px;
    height: 580px;
    border-radius: 4%;
    box-shadow: 12px 9px hsl(0, 0%, 7%);
    margin-top:130px;
    margin-bottom: 100px;
    padding:0px 15px;
    border: 1.5px solid  hsl(0, 0%, 7%);
}
.img>svg{
    margin:35px 1px 0px 22px;
}
svg{
    border-radius: 15px;
}
.text,.second{
    margin-left: 24px;
    margin-right:0px;

}
.text>h3{
    color: hsl(0, 0%, 7%);
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 10px;
    border-radius:10px;
    font-weight: 800;
    font-size: 16px;
}
.text>h2{
    color: hsl(0, 0%, 7%);
    font-weight:500;
    font-size:100%;
    padding-top: 10px;
}
.text>h1{
    color: hsl(0, 0%, 7%);
    font-weight:800;
    font-size: 150%;
    cursor: pointer;
}
.text>h1:hover{
color: hsl(47, 88%, 63%);
}
.text>p{
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    font-size: 120%;
}
.second>img{
width:45px;
padding-top: 7px;
}
.second>h4{
    position: relative;
    bottom:57px;
    left: 60px;
    font-size: 110%;
    font-weight: 800;
}
div{
    position: relative;
    bottom: 20px;
}
